<!doctypehtml >
< html  lang =" fr "
mise en page : décorer =" ~{mise en page} "
xmlns:layout =" http://www.ultraq.net.nz/thymeleaf/layout " >
< tête >
< jeu de caractères méta  =" UTF-8 " >
< meta  content =" width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0 "
nom =" fenêtre d'affichage " >
< meta  content =" ie=edge " http-equiv =" X-UA-Compatible " >
< titre > INDEX </ titre >
</ tête >
< corps >
< div  mise en page : fragment =" contenu " >
< classe div  =" ligne " >
< div  class =" col-md-12 " >
< div  class =" carte " >
< div  class =" card-header card-header-primary card-header-icon " >
< div  class =" icône-carte " >
< i  class =" material-icons " > cercle_utilisateur_supervisé </ i >
</ div >
< h4  class =" card-title " > AFFICHER LE GROUPE </ h4 >
</ div >
< div  class =" corps de la carte " >
< classe div  =" ligne " >
< div  class =" col-md-6 " >
< div  class =" carte " >
< div  class =" card-header card-header-text card-header-primary " >
< div  class =" texte-carte " >
< h4  class =" titre-carte " > INFORMATIONS </ h4 >
</ div >
</ div >
< div  class =" card-body table-responsive " >
< table  class =" table table-hover " >
< personne >
< tr > < td  class =" text-primary " > < strong > Nom : </ strong > </ td >  < td > < span  th:text =" ${group.name} " > </ span > </ td > </ tr >
< tr > < td  class =" text-primary " > < strong > Libellé : </ strong > </ td >  < td > < span  th:text =" ${group.label} " > </ span > </ td > </ tr >
< tr > < td  class =" text-primary " > < strong > Spécialité : </ strong > </ td >  < td > < span  th:text =" ${group.speciality} " > </ span > </ td > </ tr >
< tr > < td  class =" text-primary " > < strong > Niveau : </ strong > </ td >  < td > < span  th:text =" ${group.level} " > </ span > </ td > </ tr >
</ tbody >
</ table >
</ div >
</ div >
</ div >
< div  class =" col-md-6 " >
< div  class =" carte " >
< div  class =" card-header card-header-text card-header-primary " >
< div  class =" texte-carte " >
< h4  class =" card-title " > SUJETS </ h4 >
</ div >
</ div >
< div  class =" card-body table-responsive " >
< table  class =" table table-hover " >
< thead  class =" text-primary " >
< th > Nom </ th >
< th > Heures </ th >
< th > SUPPRIMER </ th >
</ tête >
< personne >
< tr  th:each =" groupSubject : ${groupSubjects} " >
< td  th:text =" ${groupSubject.subject.name} " > </ td >
< td  th:text =" ${groupSubject.hours} " > </ td >
< td >
< une  classe =" btn btn-link btn-danger btn-just-icon remove "
th:href =" @{/groups/{gid}/subject/{sid}/delete (gid=${groupSubject.group.id}, sid=${groupSubject.subject.id})} " > < i  classe =" material-icons " > supprimer </ i > </ a >
</ td >
</ tr >
</ tbody >
</ table >
</ div >
</ div >
</ div >
</ div >
< classe div  =" ligne " >
< div  class =" col-md-12 " >
< div  class =" carte " >
< div  class =" card-header card-header-text card-header-primary " >
< div  class =" texte-carte " >
< h4  class =" card-title " > ABSENCES </ h4 >
</ div >
</ div >
< div  class =" card-body table-responsive " >
< table  class =" table table-hover " >
< tr >
< th  class =" text-primary " > Etudiants\Sujets </ th >
< th  class =" text-primary " th:each =" groupSubject : ${groupSubjects} " th:text =" ${groupSubject.subject.name} " > </ th >
< ème  classe =" text-primary " > TOTAL </ ème >
</ tr >
< tr  th:each =" étudiant : ${étudiants} " >
< td  th:text =" ${student.firstName+' '+student.lastName} " > </ td >
< td  th:each =" groupSubject : ${groupSubjects} "
th:with =" res=${absenceService.hoursCountByStudentAndSubject(student.sid, groupSubject.subject.id)} "
th:text =" ${res+'h'} "
th:classappend =" ${res > groupSubject.hours * 0.4 ? 'bg-secondary text-light' : '' } " > </ td >
< td  th:text =" ${absenceService.hoursCountByStudent(student.sid)+'h'} " > </ td >
</ tr >
< tr >
< ème  classe =" text-primary " > TOTAL </ ème >
< td  th:each =" groupSubject : ${groupSubjects} "
th:text =" ${absenceService.hoursCountByGroupAndSubject(group.id, groupSubject.subject.id)+'h'} " >
</ td >
</ tr >
</ table >
</ div >
</ div >
</ div >
</ div >


< classe div  =" ligne " >

< div  class =" col-md-6 " >
< div  class =" carte " >
< div  class =" card-header card-header-text card-header-primary " >
< div  class =" texte-carte " >
< h4  class =" card-title " > SUJETS À Fortes Absences </ h4 >
</ div >
</ div >
< div  class =" card-body table-responsive " >
< table  class =" table table-hover " >
< thead  class =" text-primary " >
< th > Nom </ th >
< th > Absences totales </ th >
</ tête >
< personne >
< tr  th:classappend =" ${'bg-danger text-light'} " >
< td  th:text =" ${MaxAbcensesSubject.name} " > </ td >
< td
th:text =" ${absenceService.hoursCountByGroupAndSubject(group.id, MaxAbcensesSubject.id)+'h'} " >
</ td >
</ tr >

</ tbody >
</ table >
</ div >
</ div >
</ div >

<!-- Sujet avec peu d'absences -->
< div  class =" col-md-6 " >
< div  class =" carte " >
< div  class =" card-header card-header-text card-header-primary " >
< div  class =" texte-carte " >
< h4  class =" card-title " > SUJETS à faibles absences </ h4 >
</ div >
</ div >
< div  class =" card-body table-responsive " >
< table  class =" table table-hover " >
< thead  class =" text-primary " >
< th > Nom </ th >
< th > Absences totales </ th >
</ tête >
< personne >
< tr  th:classappend =" ${'bg-success text-light'} " >
< td  th:text =" ${MinAbcensesSubject.name} " > </ td >
< td
th:text =" ${absenceService.hoursCountByGroupAndSubject(group.id, MinAbcensesSubject.id)+'h'} " >
</ td >
</ tr >
</ tbody >
</ table >
</ div >
</ div >
</ div >
</ div >
</ div >
</ div >
</ div >
</ div >
</ div >
</ corps >
</ html >